<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">

    <p>
      i work as a backend engineer at my current jobs, building and deploying microservices & APIs. 
      i have experience in working in agile environments, and have worked on a variety of projects, from simple features to leading product development.
      As a software engineer, I thrive & enjoy learning new technologies & also taking incentives. My goal is to always build applications that are scalable
      and efficient. 
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably getting lost & finding my way back home from an evening stroll, reading a book, or 
      feeding off my existential dread.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
